<table class="table table-striped">
    <thead>
        <tr>
            <td>Title</td>
            <td>Description</td>
            <td>Date</td>
            <td class="text-center">Picture</td>
            {% if is_granted('ROLE_ADMIN') %}<td></td>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in news %}
            <tr>
                <td>
                    {{ item.title }}
                </td>
                <td>
                    {{ item.description }}
                </td>
                <td>
                    {{ item.createdAt|date('Y-m-d H:i:s') }}
                </td>
                <td class="text-center">
                    <img src="{{ item.picture }}" width="50%" height="20%"></img>
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td class="text-center">
                        <a href="{{ path('app_news_delete', {id: item.id}) }}">Delete</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
